<% layout("/layouts/boilerplate") -%>
    <div class="row mt-2">
        <div class="col-6 offset-3 ">
            <h3>
                <%= listing.title %>
            </h3>
        </div>
        <div class="card col-6 offset-3  show-page-card ">
            <img src=" <%= listing.image %>" class="card-img-top show-img" alt="Listing Image">
            <div class="card-body">
                <!-- <p class="card-text">
                    <b>
                        
                    </b>
                </p> -->
                <p><strong>Price:</strong>
                    <%= listing.price.toLocaleString('en-IN') %> per night
                </p>
                <p><strong>Description:</strong>
                    <%= listing.description %>
                </p>
                <p><strong>Location:</strong>
                    <%= listing.location %>
                </p>
                <p><strong>Country:</strong>
                    <%= listing.country %>
                </p>
            </div>
        </div>
    </div>
    <% if(currUser && currUser._id.equals(listing.owner._id)) {%>
        <div class="btns">
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3">Edit</a>

            <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                <button type="submit" class=" btn offset-5 other-btns">Delete</button>
            </form>
        </div>
        <% } %>
            <hr class="col-6 offset-3">

            <div class="row mt-4">
                <div class="col-6 offset-3">
                    <% if (currUser) { %>
                        <h4>Leave a Review</h4>
                        <form method="POST" action="/listings/<%= listing._id %>/reviews" class="needs-validation mb-3"
                            novalidate>
                            <div class="mb-3">
                                <label for="rating" class="form-label">Rating</label>
                                <input type="range" class="form-range" min="1" max="5" id="rating"
                                    name="review[rating]">
                                <div class="d-flex justify-content-between">
                                    <span>1</span>
                                    <span>2</span>
                                    <span>3</span>
                                    <span>4</span>
                                    <span>5</span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="comment" class="form-label">Comment</label>
                                <textarea class="form-control" id="comment" name="review[comment]" rows="3"
                                    required></textarea>
                                <div class="invalid-feedback">
                                    Please provide a review comment.
                                </div>
                            </div>
                            <button class="btn btn-outline-dark">Submit Review</button>
                        </form>
                        <% } %>
                            <h4>All Reviews</h4>
                            <div class="row">
                                <% if (listing.reviews && listing.reviews.length> 0) { %>
                                    <% for(let review of listing.reviews) { %>
                                        <div class="card mb-3 col-6 ">
                                            <div class="card-body mt-2">
                                                <h6 class="card-subtitle mb-2 mt-2 text-muted">
                                                    Reviewed by: <%= review.author.username %>
                                                        <% if (currUser && currUser._id.equals(review.author._id)) { %>
                                                            <span class="badge bg-secondary">You</span>
                                                            <% } %>
                                                </h6>
                                                <p class="card-text">
                                                    <%= review.comment %>
                                                </p>
                                                <p class="card-title ">Rating:
                                                    <% for(let i=0; i < review.rating; i++) { %>
                                                        <i class="fa-solid fa-star" style="color: #ffd700;"></i>
                                                        <% } %>
                                                    </p>
                                                    <%if(currUser && currUser._id.equals(review.author._id) ){%>
                                                            <form
                                                                action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
                                                                method="POST" class="d-inline">
                                                                <button class="btn btn-sm btn-danger mb-2">Delete
                                                                    this review</button>
                                                            </form>
                                                <%}%>
                                            </div>
                                        </div>
                            <% } %>
                            
                            <% }else { %>
                                                <p class="text-muted">No reviews yet.</p>
                                                <% } %>
                            </div>
                </div>
            </div>